// app global css in SCSS form
// @import "swal-borderless-theme.scss";
// @import "~@sweetalert2/theme-borderless/borderless.scss";

.body--dark {
  background-color: $dark-page;
  color: $dark-page-text !important;
}

.default-btn {
  background-color: $cta-green;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
  //   transition: height 0.25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  //   height: 0;
}
